* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
header,
footer {
  height: 70px;
  background-color: white;
}

header .menu {
  display: flex;
  height: 100%;
}

.menu-left,
.menu-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-left .logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo img {
  width: 100%;
}

.menu-right .selector-difficulty {
  margin: 0 10px;
}
select{
  padding: 0 70px 0 0;
  background-color: #eaeaec;
  text-decoration: none;
  border-radius: 2px;
}
#play {
  padding: 0 20px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 140px);
  background-color: #7efed4;
}

.container { /*classe che vado a richiamare su js con classname*/
  width: 500px;
  height: 500px;
  
}
h2{
  font-size: 15px;
}
.square { /*classe che vado a richiamare su js con classname*/
  float: left; //per mettere le celle accanto
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

footer {
  display: flex;
  justify-content: start;
  padding: 10px 130px;
}
